section {

    .cta-layout {
        text-align: center;

        p {
            font-size: 1.8rem;
        }

        .cta-illustration {
            max-width: 90rem;
            margin: -4rem auto 0 auto;
            position: relative;
            z-index: -1;
            img {
                width: 70rem;
            }
        }
        .app-store-links {
            position: relative;
            .flex(row, center);

            .app-store-block {
                display: block;
                max-width: 18rem;
                margin: 2rem 0.8rem;
                img {
                    .width-100();
                }
            }
        }
    }
}