// Color assignments 
@nav-color: @darkblue;
@main-color: @green;
@main-bg:  @white;
@main-font: @black;
@body-color: @grey;
@small-header: @lightblue;
@box-shadow: @greyish;
@box-header: @darkerblue;

// Colors
@white: #FFFFFF;
@green:#a3e4d7;
@darkblue: #1e314e;
@black:  rgba(0, 0, 0, 0);
@grey: #3d4552;
@lightblue: #00a4e5;
@greyish: rgba(30, 49, 78, 0.14);
@darkerblue: #0f7ec1;



@mobile: ~"(max-width: 500px)";
@tablet ~"(max-width: 800px)";