// Color assignments 
@nav-color: @darkblue;
@main-color: @green;
@main-bg:  @white;
@main-font: @black;

// Colors
@white: #FFFFFF;
@green:#a3e4d7;
@darkblue: #1e314e;
@black:  rgba(0, 0, 0, 0);



@mobile: ~"(max-width: 500px)";
@tablet ~"(max-width: 800px)";